---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Philosophy from '../components/Philosophy.astro';
import Services from '../components/Services.astro';
import Works from '../components/Works.astro';
import About from '../components/About.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <Header />
  <main>
    <Hero />
    <Philosophy />
    <Services />
    <Works />
    <About />
    <Contact />
  </main>
  <Footer />
</Layout>
